@import 'mediawiki.mixins';

@text: #000;
@text-grey: #555;
@link: #05b;
@linkv: #039;
@link-red: #722;
@link-redv: #623;
@link-grey: #777; /* Not necessarily always links, and probably a bad idea */
@link-ext: #36b;
@link-extv: #26a;

// Miscellaneous functions

// To hide objects, but keep them accessible for screen-readers
.hidden() {
	position: absolute;
	top: -9999px;
	left: 0;
}

// Font definitions for fancy layout (font sources last updated 2013)
@font-face {
        font-family: 'abridahn web';
        src: url('fonts/Abridahnkajira.eot');
        src: url('fonts/Abridahnkajira.eot?#iefix') format('embedded-opentype'),
                url('fonts/Abridahnkajira.woff') format('woff'),
                url('fonts/Abridahnkajira.ttf') format('truetype'),
                url('fonts/Abridahnkajira.svg') format('svg');
}
@font-face {
        font-family: 'abridahn smallcaps web';
        src: url('fonts/Abridahniajiradi.eot');
        src: url('fonts/Abridahniajiradi.eot?#iefix') format('embedded-opentype'),
                url('fonts/Abridahniajiradi.woff') format('woff'),
                url('fonts/Abridahniajiradi.ttf') format('truetype'),
                url('fonts/Abridahniajiradi.svg') format('svg');
}
