@red: #822;
@red-dark: #722;
@red-bright: lighten( @red, 10% );
@blue: #16b;
@blue-dark: darken( @blue, 10% );
@purple: #64a;
@purple-dark: #447;

@grey0: #000; // black
@grey1: #666;
@grey2: #ccc;
@grey3: #ddd;
@grey4: #eee;
@grey5: #f0f0f0;
@grey6: #fff; // white

@content-width: 1100px;
@text-resize: 90%;
@header-height: 123px;

@fonts-main: 'Libertinus Sans', 'Libertinus Sans web', 'Linux Biolinum', 'Corbel', 'Candara', 'Segoe UI', 'Segoe UI Historic Regular', 'Noto Sans', 'Lato', 'Helvetica Neue', 'Liberation Sans', 'Helvetica', sans-serif;
// Windows is bad at fonts... see js.
@fonts-main-windows: 'Corbel', 'Candara', 'Segoe UI', 'Segoe UI Historic Regular', 'Noto Sans', 'Lato', 'Helvetica Neue', 'Liberation Sans', 'Helvetica', sans-serif;
@fonts-header: 'Libertinus Serif', 'Linux Libertine', 'Cambria', 'Constantia', 'Times New Roman', 'Liberation Serif', 'Nimbus Roman', 'Noto Serif', 'Times', serif;
@fonts-banner: 'Abridahn Capitals', 'Linux Libertine Capitals', 'Libertinus Serif', 'Linux Libertine', 'Cambria', 'Constantia', 'Times New Roman', 'Times', serif;
@fonts-mono: 'Menlo', 'Consolas', 'Monaco', 'Nimbus Mono', 'Noto Mono', monospace;
